<ion-view title="Academic Affairs">
  <ion-content>
    <div class="card">
      <div class="item item-avatar">
        <img src="img/m1.png">
        <h2>Antony Omondi</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/male.jpg">
        <p>Hello, my name is Antony Omondi. I’m running to be your Vice President of Academic Affairs. If I am elected, I will work hard to make sure that tutors are paid fairly for marking student’s work, with the aim of promoting better feedback. Constructive,
          informative feedback is the best way for students to learn from mistakes. I will do everything I can to make sure students get the best feedback possible. Another great way that I will promote better feedback is to start a project that arranges
          short, one-on-one tutorial meetings with their class tutors to discuss their course. This gives students the opportunity to highlight concerns they may be having about the material and discuss them with men and women skilled in the field. Oral
          feedback, in my opinion, is the most effective form of feedback, so any opportunity to get students talking to their tutors is hugely beneficial. I will work hard to establish lecture podcasts in many schools. This will give students the opportunity
          to review their lectures if they are unfortunate enough to miss them, as well as supplementary revision material.</p>
      </div>
  </ion-content>
</ion-view>
