<ion-view title="Social Affairs">
  <ion-content >
    <div class="card">
      <div class="item item-avatar">
        <img src="img/f.png">
        <h2>Carol Wanjiru</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/fe.jpg">
        <p>If you vote for me I promise to work my hardest to establish a stronger relationship with local businesses and working professionals to provide you with the connections and mentors you need to encourage future job opportunities! Within this, I
          will work with the uni to provide all students with equal and fair opportunities to do work placements, to make sure you all know where to go for advise and support. I will also work with the uni to find a way to make these opportunities more
          affordable and accessible for everyone! I will promote the collaborative and work experience opportunities available for you to work with the SU and the university. I will kick start this action by promoting the course and school reps, ensuring
          that all students and staff know who you are and the amazing things you do to improve students lives! As well as this I will work to create a database of student profiles to build a network of collaborative opportunities across the university,
          connecting students and staff. Furthermore, I will build upon the relationships with the local community and the mass media to promote and shout about all the amazing things you do, from academic accomplishments to sporting achievements! I will
          make connections with radio stations and newspapers as well as the volunteering department to show the public what you’re proud of!</p>
      </div>
      <button class="button button-block  button-balanced" ng-click="submit(); showConfirm()">Vote</button>
  </ion-content>
</ion-view>
