<ion-view title="Student President">
  <ion-content>
    <div class="card">
      <div class="item item-avatar">
        <img src="img/m1.png">
        <h2>David Musoti</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/male.jpg">
        <p>My name is David Musoti, I am a 3rd year Media and Communications student and I am running for the position of Student President. My aim is to create a strong sense of togetherness as I feel our Students Union and its student members have lost
          that all important cohesion. I believe through improving our services in the Students Union such as improved social nights in campus bars and facilities, we can finally create a feeling of inclusiveness. If I were to be elected I would ensure
          all students would have a more fulfilled and rich experience of this aspect of their university life, which every student deserves. I understand that university can be tough at times, either in your economic, social or emotional life. I want
          to ensure that our students union is there to help you overcome these barriers by focusing on the rights and welfare of students across all campuses. My aim for OUR students in OUR Students Union is to improve support networks by ensuring all
          students feel comfortable and confident in reaching out for the best possible rights and welfare. I want to change the attitude of the Students Union from some perceive as an alien organisation to OUR organisation.
        </p>
        <p>My passion is to create a culture of WE within the Students Union and make sure ALL students feel confident in raising any issues that occur in their university experience. As Student Experience Vice President I will represent YOU with YOUR issues
          to ensure you have not just a 'good' but an 'Excellent' Student Experience...
        </p>
      </div>
  </ion-content>
</ion-view>
