<ion-view title="Academic Affairs">
  <ion-content>
    <div class="card">
      <div class="item item-avatar">
        <img src="img/f.png">
        <h2>Jane Chepkosgei</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/fe.jpg">
        <p>Hi my name is Jane Chepkosgei and I am standing to be your President Academic Affairs. I aim to: - Improve the university’s online teaching component, by getting more material centrally online and easier to access as many students now use mobile
          devices to access the web. - Lobby the university to implement online submission for assessments. - Improve assessment and feedback, by ensuring departments turn work around on time, with appropriate and personalised feedback to improve your
          work. - Improve the visibility of Course Reps and Faculty Reps amongst students and within departments, to give them a greater mandate for decision making and consultation within departments. - Ensure that as tuition fees rise, the expected
          increase in teaching and facility standards is delivered, and to lobby for a detailed framework to clearly set out where all tuition fees are being spent. - Work with academic societies to hold forums in conjunction with course reps to better
          represent students on academic issues. - Ensure that as soon as the Library Refurbishment Project is completed, 24-hour library access is delivered. - Represent everybody. Whether an international student or part time, I want to ensure that
          your needs are always met.</p>
      </div>
  </ion-content>
</ion-view>
