<ion-view title="Student President">
  <ion-content >
    <div class="card">
      <div class="item item-avatar">
        <img src="img/f.png">
        <h2>Mary Kamau</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/fe.jpg">
        <p>My name is Mary Kamau and I am running for the position of President of our Students’ Union. As
the current Part-Time Societies Officer I have already had the opportunity to meet and work with
some amazing people and create unforgettable memories. Throughout my time involved with the
Students’ Union I have seen many positive changes and I want to develop these further to try and
provide the greatest student experience ever.
My initial aim is to raise the awareness of our Student’ Union and all of the organisations, societies,
and volunteering opportunities available to the 10,000 individuals at the University of
Gloucestershire. I hope to work closely with Space Newspaper, Tone Radio and use all forms of social
media to promote said opportunities.
Secondly, I aim to develop the community spirit within our University and increase our reputation
within Gloucestershire. By working with the Sports Officer and society members I hope to promote:
sport & society fundraisers, upcoming fixtures and SU events to get as many people involved as
possible.
My final aim is to increase communication between the Students’ Union and the student body to try
and provide everyone with regular updates on what the Student’s Union is doing to improve the
experience of all students.
The past three years have been the best of my life and I want to make sure you, whether you are a
fresher or a final year, have some lifelong memories to take away too.</p>
      </div>
  </ion-content>
</ion-view>
