<ion-view title="Social Affairs">
  <ion-content >
    <div class="card">
      <div class="item item-avatar">
        <img src="img/m1.png">
        <h2>Mike Kinoti</h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/male.jpg">
        <p>I will promote social activities across campus. I am currently working with the university to create an online, easy to access, central location for all student led event information, from sporting activities,
        to exhibitions and performances, so I will continue to push this! This platform will help publicise the amazing events run throughout the uni by you, for the whole student body to recognise and engage with. Furthermore, I will help to promote
        a regular space and time for events such as performances (both musical and theatrical), screenings and exhibitions for you to showcase your talents, or sit back and enjoy. Equal and fair opportunities for all students is extremely important! For
        example, it has come to my attention that Nursing and Midwifery students don’t get Wednesday afternoons off for recreational time! They deserve to have the same time off to enjoy what the SU has to offer. Therefore, I will endeavor to change this
        so that they get the time off they need! Furthermore, I will work towards a better and improved library, I will kick start student workshops, from photography classes, to language lessons, to confidence building skills, and I will introduce a
        ‘charities week’ full of fun activities for you to get involved with to raise money for local community charities.</p>
      </div>
      <button class="button button-block  button-balanced" ng-click="submit(); showConfirm()">Vote</button>
  </ion-content>
</ion-view>
