<ion-view style="" title="Academic Affairs">
    <ion-content class="has-header my-menu" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-avatar-left" ui-sref="jane">
                <img src="img/f.png">
                <h2>Jane Chepkosgei</h2>
                <p>My manifesto...</p>
            </ion-item>
            <ion-item style="" class="item-avatar-left" ui-sref="antony">
                <img src="img/m1.png">
                <h2>Antony Omondi</h2>
                <p>I also have a manifesto...</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
