<ion-view style="" title="Candidates">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h4 style="">Meet the candidates...</h4>
        <ion-list style="">
            <ion-item style="" ui-sref="studentPresident" class="item my-menu text-center">Student President</ion-item>
            <ion-item style="" ui-sref="academicAffairs" class="item my-menu text-center">Academic Affairs</ion-item>
            <ion-item style="" ui-sref="socialAffairs" class="item my-menu text-center">Social Affairs</ion-item>
        </ion-list>
        <a style="" class="button button-positive button-outline button-block " ng-click="inputRegno(); go()">I'm ready to vote</a>
    </ion-content>
</ion-view>
