<ion-slide-box on-slide-changed="slideHasChanged($index)" class="bar-assertive">
  <ion-slide>
    <div class="header padding text-center">
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Welcome!</h1>
      </ion-header-bar>
    </div>
    <h5>Welcome</h5>
    <div class="text-center">
      <h4> Voting Made Easier </h4>
    </div>

    <div class="item item-body text-centered">

         Welcome
        <p> Welcome to the mobie voting app. Candidates can be viewed by clicking the 'See Candidates' button. The candidates are listed under their specific categories.</p>
      </div>
    <div class="text-center">
      <h5> Swipe left for more information. </h5>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="header padding text-center">
      <ion-header-bar class="bar-assertive">
        <h1 class="title">How to vote</h1>
      </ion-header-bar>
    </div>
    <h5>Welcome</h5>

      <div class="item item-body">
         Start Voting
        <p> After you have viewed the candidates and are decided with the ones you want to vote for,
        you can now start the voting process by clicking the 'Im ready to vote' button. Again, the candidates are listed
      under their specific categories. Choose Your preferred candidate and click the green 'Vote' button at the bottom. </p>
    </div>

  </ion-slide>
  <ion-slide>
    <div class="header padding text-center">
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Lets vote!</h1>
      </ion-header-bar>
    </div>
    <h5>Welcome</h5>
    <div class="item item-body">
       View Results
      <p>
        The results will be available in te results page as they come in. After voting, you will not be allowed to vote again,
        but you can always login to view the results.
      </p>
    </div>
    <div class="text-center">
      <h4> Powered by </h4>
      <img src="img/p.png">
    </div>
    <div>      <a style="" class="button button-positive button-clear button-block " ui-sref="candidates">See Candidates</a>
</div>
    </ion-slide>
</ion-slide-box>
