<ion-view style="" title="Social Affairs">
    <ion-content class="has-header my-menu" overflow-scroll="true" padding="true">
      
        <ion-list style="">
            <ion-item style="" class="item-avatar-left" ui-sref="carol_det">
                <img src="img/f.png">
                <h2>Carol Wanjiru</h2>
                <p>My manifesto...</p>
            </ion-item>
            <ion-item style="" class="item-avatar-left" ui-sref="mike_det">
                <img src="img/m1.png">
                <h2>Mike Kinoti</h2>
                <p>I also have a manifesto...</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
