<ion-view style="" title="Student President">
    <ion-content class="has-header my-menu" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-avatar-left" ui-sref="mary_det">
                <img src="img/f.png">
                <h2>Mary Kamau</h2>
                <p>My name is Mary Kamau...</p>
            </ion-item>
            <ion-item style="" class="item-avatar-left" ui-sref="david_det">
                <img src="img/m1.png">
                <h2>David Musoti</h2>
                <p>I am a 3rd yr student...</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
